extends layout.pug

block content
  if name
    h2 Welcome, student!
  form(action='/hello', method='post')
    label Please enter your TestUserName
      input(type='text', name='username')
      button(type='submit') Submit
